@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
@import './utils.module.scss';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $minWidth;
  background-color: white;
  padding: 1rem 2rem;
  @include boxShadow(0px, 4px, 4px, 0px, rgba(0, 0, 0, 0.1));
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 2rem;
  margin-left: 4rem;
}

.logoText {
  color: $blue;
  font-size: 1.5rem;
  font-family: 'Sansita Swashed', cursive;
}

.btnMenu {
  color: $blue;
  font-size: 1.5rem;
  background-color: white;
}

.btnVideo,
.btnChat {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: $blue;
}

.btnVideo {
  margin-right: 0.5rem;
  & > span {
    margin-left: 0.5rem;
  }
}

.btnChat {
  & > span {
    margin-left: 0.5rem;
  }
}
