@import 'utils.module.scss';

.questionForm {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 70vw;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 0.2rem solid $grey;

  & > svg {
    color: $grey;
    font-size: 1.5rem;
  }

  & > input {
    padding-left: 1rem;
    background: none;
  }
}
