@import './utils.module.scss';

.indexPageMain {
  width: 100vw;
  min-width: $minWidth;
  padding: 0 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
