@import 'utils.module.scss';

.questionListItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 70vw;
  height: 5vh;
  min-width: $minWidth;
  padding-left: 1rem;
  background-color: white;
  margin-bottom: 1rem;

  input {
    position: absolute;
    left: 3rem;
    width: 90%;
    cursor: default;
  }

  input:focus ~ .contextSensitiveNav {
    display: none;
  }

  &:hover .contextSensitiveNav {
    display: flex;
  }

  &.selected {
    border: 2px solid $blue;
    background-color: $lightGrey;

    > :not(.contextSensitiveNav) {
      background-color: $lightGrey;
    }
  }
}

.btnMove {
  position: absolute;
  left: 0.5rem;
  font-size: 1.8rem;
  color: $grey;
  background-color: white;
}

.contextSensitiveNav {
  position: absolute;
  right: 0;
  display: none;
  align-items: center;
  background-color: $blue;
}

.btnEdit,
.btnDelete {
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
  color: white;
  background: none;
}

.btnEdit::after {
  content: '';
  left: 4.5rem;
  width: 0.2rem;
  height: 1.8rem;
  position: absolute;
  background-color: white;
}
