$backgroundColor: #f4f7f9;
$blue: #668cec;
$grey: #909ab8;

@mixin boxShadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
